<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZO.LoadOrderManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ZO.LoadOrderManager.Properties.Settings>
      <setting name="ProbingPaths" serializeAs="String">
        <value>lib;locale</value>
      </setting>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://github.com/ZeeOgre/ZO.LoadOrderManager/releases/latest/download/AutoUpdater.xml</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>0.0.9.0</value>
      </setting>
    </ZO.LoadOrderManager.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="TextLogging" value="false" />
  </appSettings>
  <!--<system.diagnostics>
		<sources>
			<source name="System.Windows.Data" switchValue="Warning, Error">
				<listeners>
					<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->
</configuration>